/* links-css.css */

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

img {
  width: 96px;
  height: 96px;
  display: block;
  margin-inline: auto;
  border-radius: 9999px;
}

.container {
  max-width: 680px;
  margin-inline: auto;
  padding-inline: 1.5rem;
  padding-top: 3rem;
}

h1 {
  text-align: center;
}

p {
  margin-bottom: 1.75rem;
  text-align: center;
}

.main-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-links > a {
  border: solid 2px #000;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration-line: none;
  text-align: center;
}

.main-links > a:hover {
  background-color: #000;
  color: #fff;
}

.social-links {
  /* display: flex; */
  /* gap: 1.25rem; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  text-align: center;
  font-size: 2rem;
  padding-block: 1.5rem;
}

.social-links a {
  margin-inline: .25rem;
}
